{{ define "main" }}
{{ $cat := . }}
{{ $mods := sort (where .Site.Pages "Type" "module") "Params.modulenum" }}
<div class="lmod-mark" aria-hidden="true">{{ partial "logo.html" (dict "size" 58 "hidden" true) }}</div>
<p class="lcrumb"><a href="{{ "/adobe-analytics-learning/" | relURL }}">Adobe Analytics Learning</a> &rsaquo; {{ .Title }}</p>
<h1 class="lmod-title">{{ .Title }}</h1>
<p>{{ .Description }}</p>
{{ .Content }}
<ol class="lsec-list">
  {{ range $mods }}
    {{ if eq .Parent $cat }}
      <li><a href="{{ .RelPermalink }}"><span class="lsn">{{ .Params.modulenum }}</span><span>{{ .Title }}</span></a></li>
    {{ end }}
  {{ end }}
</ol>
{{ end }}
